<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="file" xsi:type="File" layout="${longdate}; ${threadid}; ${logger}; ${level}; ${message}; ${stacktrace}; ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
                keepFileOpen="false" fileName="${specialfolder:folder=CommonApplicationData}/Chewsi/LauncherLog.txt" encoding="utf-8"
                maxArchiveFiles="10" archiveEvery="Day" archiveNumbering="Rolling" archiveFileName="${specialfolder:folder=CommonApplicationData}/Chewsi/LauncherLog.{#}.txt" />
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="asyncFile"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>